{% extends 'main/layout.html' %}

{% block title %}Contacts{% endblock %}

{% block content %}
    <dif class="features">
        <h1>Contacts</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum eligendi in minus necessitatibus! Alias dolore harum laborum molestiae nesciunt nostrum.</p>
        <button class="btn btn-warning">хз </button>
    </dif>

    {% include 'main/test.html'%}
    {% include 'main/test.html'%}
    {% include 'main/test.html'%}
    {% include 'main/test.html'%}

{% endblock %}